
 .formRow {
     display: flex;
     justify-content: center;
 }

 input[type=email], input[type=password] {
    min-width: 300px;
}


 @media only screen and (min-width: 600px) {
    .formBox {
        margin: 12px 0;

    }

    .formDiv {
        padding: 10px 3px !important;
    }

    input[type=email], input[type=password] {
        min-width: 450px;
    }
  }

  .button {
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: var(--header-bg-color) !important;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    transition: background-color .2s ease-out;
    margin-bottom: 10px;
}

