a {
    text-decoration: none !important;
    color: white !important;
}

.navItems {
    display: flex !important;
    align-items: flex-end !important;
    text-align: right;
}

.navSize {
    min-width: 100vw;
}

