.Header {
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #659DBD;
    color: white;
    box-shadow: 3px 3px 5px lightgray;
}

.Header a {
    text-decoration: none;
    color: white;
}