:root {
  --primary-color: #C5C6C7;
  --header-bg-color: #0B0C10;
  --primary-bg-color: #FBEEC1;
  --nav-color: #45A29E;
  --border-color: #66FCF1;
}

body{
  margin: 0;
  background-color: var(--primary-bg-color);
}

/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/