

body{
  margin: 0;
  background-color: var(--primary-bg-color);
}

Form {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px;

}

Form > div {
  padding: 5px;
}

Input {
  min-width: 250px;
  min-height: 30px;
  font-size: 16px;
  color: #BC986A;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 10%;
  padding: 2% 2%;
  background-color: rgba(218, 173, 134, 0.4);
  border-style: solid;
  border-radius: 10px;
  border-color: #BC986A;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #BC986A !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #BC986A !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #BC986A !important;
}
/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*/